.dvContainerLv1
{
    /*width: 100%;*/
    border: solid 3px #888;
    margin-bottom:30px;
}
.posName
{
    background-color:#eee;
    border-bottom:solid 1px #888;
    padding:0 20px;
    }
    .posName:hover,.dvAdd:hover
    {
          background-color:Blue;
          color:White;
          cursor:pointer;
        }
    .dvContainerLv1
    {
        padding:0 10px 10px 10px;
        }
.dvContainerLv3,.dvContainerLv2 
{
    float: left;
    margin-left:5px;
}
.dvContainerLv2
{
    width: 360px;
    border: solid 2px #888;
    margin-bottom:5px;
}
.dvContainerLv3
{
    border: solid 1px #aaa;
}
.dvAdd
{
    width:100%;
    clear: both;
    color:#ccc;
}
