{% extends "stockmanage/base.html" %}
{%block content_title%}
<span class='sub-header'>盘点单列表</span>
{%endblock%}{%block nav_check_list%}
active
{%endblock%}
{%block content%}

<table class="table">
	<thead>
	<tr>
		<th>单号</th><th>时间</th><th> </th>
	</tr></thead>
	{%for checkbill in checkbill_list%}
	<tr>
		<td>{{checkbill.BillNo}}</td>
		<td>{{checkbill.BillTime}}</td>
		<td><a href="{%url 'stockmanage:checkbill_edit' checkbill.id %}">详情</a></td>
	</tr>
	
	{%endfor%}
</table>
{%include 'stockmanage/widget_paginator.html'%}
<a class="button" href="{%url 'stockmanage:checkbill_create'%}">新建盘点单</a>


{%endblock%}
