{% extends "stockmanage/base.html" %}
{%load staticfiles%}
{%block header%}
<link rel="stylesheet" type="text/css"  href="{%static 'stockmanage/css/stockbill.css'%}" media='screen,projector'/>

<script type="text/javascript" src="{%static 'stockmanage/bootstrap-3.1.1-dist/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{%static 'stockmanage/js/bootstrap-confirmation.js'%}"></script>
<script type="text/javascript" src="{%static 'stockmanage/js/stockbill.js'%}"></script>
{%endblock%}
{%block content_title%}
{%if bill.id%}修改{%else%}创建{%endif%}盘点单
{%endblock%}

{%block nav_check_create%}
active
{%endblock%}
{%block content%}
<form method="post" id='fm_bill' class='navbar-form navbar-left'>
	{% csrf_token %}
	<div id='billeditor' class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				
				<label> 单号:</label>
				{{bill.BillNo}}
				<label>单据状态:</label>{{bill.BillState}}
                <label>盘点状态:</label>{{bill.CheckState}}
			</div>
			<div class="panel-body" >
				{%if bill.id%}
				{%include 'stockmanage/widget_checkbilldetaillist.html'%}
				{%endif%}
				{%if bill.BillState == 'draft'%}
				<div class="modal-body">
					<div id="tab_detail">
						<p class='info'>
							格式要求:产品代码,每行一条.
							<br/>
							注意:单据详情将被覆盖
						</p>
						<form method="post" id="fm_detail_update">
							{%csrf_token%}
                            {{form.product_list}}
						</form>
						<div class="clear"></div>
					</div>
				</div>

				{%endif%}
			</div>
		</div>
		<div>
			{%ifequal bill.BillState 'draft'%}
			<input class="btn  btn-default" type="submit" name="savedraft" value="保存" />
			{%if bill.id%}
			<input id='btn_apply' onclick="javascript:return confirm('提交之后,单据不可再修改.确定提交?')" class="btn btn-xs btn-default" type="submit" name="apply" value="提交库存" />
			{%endif%}
			{%endifequal%}
			{%ifequal bill.BillState 'applied'%}

			<input class="btn   btn-default" type="submit" name="pass" value="审核通过" />
			<input class="btn   btn-default" type="submit" name="refused" value="审核不通过" />
			{%endifequal%}
		</div>
	</div>
</form>

{%endblock%}
