{% extends "stockmanage/base.html" %}
{%block content_title%}
当前库存情况
{%endblock%}{%block nav_stocklist%}
active
{%endblock%}
{%block content%}
{% if productstock_list %}
<table class="table">
	<tr>
		<td>产品</td><td>位置</td><td>数量</td>
	</tr>
	{%for stock in productstock_list%}
	<tr>
		<td> {{stock.theproduct}}<a href="{%url 'stockmanage:productstock_stocktrace_list' stock.theproduct.id%}">trace</a> </td>
		<td>{{stock.stocklocation}}</td>
		<td>{{stock.Quantity}} </td>
	</tr>
	{%endfor%}
</table>
{%else%}
<p>
	No data are availabel.
</p>
{%endif%}
{%include 'stockmanage/widget_paginator.html'%}

{%endblock%}
