{% extends "stockmanage/base.html" %}
{%block content_title%}
stock trace
{%endblock%}
{%block content%}
{% if trace_list %}
<table class="table">
	<thead>
		<tr>
			<th>数量变化</th><th>时间</th><th>单据类型</th><th>原因</th><th>单据号</th>
		</tr>
	</thead>

	{%for trace in trace_list%}
	<tr>
		<td>{{trace.Quantity}}</td>
		<td>{{trace.stockbill.BillTime}}</td>
		<td>{{trace.stockbill.BillType}}</td>
		<td>{{trace.stockbill.BillReason}}</td>
		<td> {%if trace.stockbill.BillType == 'in'%} 
			<a href="{%url 'stockmanage:stockbill_stockin_edit' trace.stockbill.id%}"> {{trace.stockbill.BillNo}}</a> 
			{%else%}
			<a href="{%url 'stockmanage:stockbill_stockout_edit' trace.stockbill.id%}"> {{trace.stockbill.BillNo}}</a> 
		
			{%endif%}</td>
	</tr>
	{%endfor%}
</table>
{%else%}
<p>
	No bill are availabel.
</p>
{%endif%}
{%include 'stockmanage/widget_paginator.html'%}

{%endblock%}
