{% extends "stockmanage/base.html" %}
{%load staticfiles%}
{%block header%}
<link rel="stylesheet" type="text/css"  href="{%static 'stockmanage/css/stockbill.css'%}" media='screen,projector'/>

<script type="text/javascript" src="{%static 'stockmanage/bootstrap-3.1.1-dist/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{%static 'stockmanage/js/bootstrap-confirmation.js'%}"></script>
<script type="text/javascript" src="{%static 'stockmanage/js/stockbill.js'%}"></script>
{%endblock%}
{%block content_title%}
{%if bill.id%}修改{%else%}创建{%endif%}{%ifequal bill.BillType 'in' %}入{%else%}出{%endifequal%}库单
{%endblock%}
{%block content%}
<label>当前状态:{{bill.BillState}}</label> 
<form method="post" id='fm_bill' action="{{action}}">
	{% csrf_token %}
	<div id='billeditor'>
		<div class="panel panel-default">
			<div class="panel-heading">
				{{form}}
			</div>
			{%if bill.id%}<div class="panel-heading">
				{%include 'stockmanage/widget_stockbilldetaillist.html'%}
				{%if bill.BillState == 'draft'%}
				<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
修改详情</button>
{%endif%}
			</div>
			{%endif%}
			<div class="panel-body">
				<div>
					{%ifequal bill.BillState 'draft'%}
					<input class="btn btn-xs btn-default" type="submit" name="savedraft" value="保存" />
					{%if bill.id%}
					<input id='btn_apply' onclick="javascript:return confirm('提交之后,将进入库存,单据不可再修改.确定提交?')" class="btn btn-xs btn-default" type="submit" name="apply" value="提交审核" />
					{%endif%}
					{%endifequal%}
					{%ifequal bill.BillState 'applied'%}
					<input class="btn  btn-sm btn-default" type="submit" name="pass" value="审核通过" />
					<input class="btn  btn-sm btn-default" type="submit" name="refused" value="审核不通过" />
					{%endifequal%}
				</div>
			</div>
			
		</div>
	</div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">编辑详情</h4>
			</div>
			<div class="modal-body">
				<div id="tab_detail">
					<p class='info'>
						格式要求:产品代码,展位代码,数量.每行一条.
						<br/>
						注意:单据详情将被覆盖
					</p>
					<form method="post" id="fm_detail_update" action='.{#url 'stockmanage:stockbill_update_detail' bill.id #}'>
						{%csrf_token%}
							<textarea name='tt_billdetail'  class='form-control' rows='5'>{{detaillist_formated_text}}</textarea>
					</form>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button id="btn_save" name='updatedetail' type="button" class="btn btn-primary">
					Save changes
				</button>
			</div>
		</div>
	</div>
</div>

{%endblock%}
