{% extends "stockmanage/base.html" %}
{%load staticfiles%}
{%block content_title%}
StockBill Detail List
{%endblock%}
{%block content%}
<div>
	<div class="info">
	BillNo:{{bill.BillNo}}
	BillType:{{bill.BillType}}
	BillState:{{bill.BillState}}
	BillNo:{{bill.BillNo}}
	<a href='/stockmanage/stockbill/edit/{{bill.id}}'>查看详情</a>
	</div>
</div>
{%include 'stockmanage/widget_stockbilldetaillist.html'%}

{%ifequal bill.BillState  "draft"%}
<div id="tab_detail">
	<p class='info'>
		格式要求:产品代码,展位代码,数量.每行一条.<br/>
		注意:单据详情将被覆盖
	</p>
	<form method="post" action='.'>
		{%csrf_token%}
		<div class="row">
		<textarea name='tt_billdetail'  class='col-md-10' height="500">{{formated_text}}</textarea>
		</div><div>
		<input class="btn btn-default" type="submit"/></div>
	</form>
	<div class="clear"> </div>
</div>
{%endifequal%}
{%endblock%}
