{% extends "stockmanage/base.html" %}
{%load staticfiles%}
{%block header%}
<script type="text/javascript" src="{%static 'stockmanage/js/stockbill.js'%}"></script>
{%endblock%}
{%block content_title%}
StockBill In
{%endblock%}
{%block content%}
<div id='billeditor'>
		<form method="post" action=".">
			{%csrf_token%}
			 {% for field in form %}
        
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {%if forloop.counter == 3 %}
            <br/>
            {%endif%}
    	{% endfor %}
			<input class="btn" type="submit" value="Submit" />
		</form>
	{%if bill.id%}
	<label>详情：</label><a href="{%url 'stockmanage:stockbill_update_detail' bill.id %}">编辑详情</a>
	{%endif%}
	{%include 'stockmanage/widget_stockbilldetaillist.html'%}</div>
	
{%endblock%}
