{% extends "stockmanage/base.html" %}
{%block content_title%}
StockBill list
{%endblock%}
{%block content%}
{% if stockbill_list %}
<table class="table">
	<tr>
		<td>单号</td><td>操作</td>
	</tr>
	{%for stockbill in stockbill_list%}
	<tr>
		<td>{%ifequal stockbill.BillType 'in'%}
			<a href="{%url 'stockmanage:stockbill_stockin_edit' stockbill.id%}">{{stockbill.BillNo}} </a>
		 {%else%}
		 	<a href="{%url 'stockmanage:stockbill_stockout_edit' stockbill.id%}">{{stockbill.BillNo}} </a>
		{%endifequal%} </td><td><a href="{%url 'stockmanage:stockbill_update_detail' stockbill.id%}">Details</a></td>
	</tr>
	{%endfor%}
</table>
{%else%}
<p>
	No bill are availabel.
</p>
{%endif%}
{%include 'stockmanage/widget_paginator.html'%}

{%endblock%}
