{% load append_to_get %}
{%if paginator.num_pages > 1 %}



<ul class="pagination">
	<li>
		<span>总数:{{paginator.count}}</span>
	</li>
	{%for i in range %}
	{%ifequal i page.number %}
	<li class='active'>
		<a href="#">{{i}}<span class="sr-only">(current)</span></a>
	</li>
	{%else%}
	<li>
		
		<a href="{% append_to_get page=i %}">{{i}}</a>
	</li>
	{%endifequal%}

	{%endfor%}
</ul>
{%endif%}

{% for num in pagination.main_range %}
        {% if not num %} ...  {# literally output dots #}
        {% else %}<a href="?page={{ num }}">EX{{i}}</a>
        {% endif %}
    {% endfor %}
