{%if bill.billdetailbase_set.all%}
<div class="table-responsive">
<table class="table table-bordered table-striped">
	<tr>
		<td>Code</td><td>Product</td><td>Location</td><td>Quantity</td>
         {% if bill.CheckState != 'draft'%}
        <td>Real Quantity</td>
        {%endif%}
	</tr>
	{#for detail in  CheckBillList.objects.filter(stockbill__id=bill.id).select_subclasses()#}
    {%for detail in  detaillist%}
	<tr>
		<td>{{detail.product.Code_Original}} </td><td>{{detail.product}} </td><td> {{detail.location}} </td>
		<td> {{detail.quantity}} </td>
        {% if bill.CheckState == 'progressing'%}
        <td> <input type="text"  name="real_quantity_{{detail.id}}"  value="{{detail.realquantity}}" /></td>
        {%elif bill.CheckState == 'complete'%}
        <td> {{detail.realquantity}}</td>
        {%endif%}
	</tr>
	{%endfor%}
</table></div>
{%else%}
<p>没有数据</p>
{%endif%}
