{% load append_to_get %}
{% load get_range %}
{%if is_paginated %}

<ul class="pagination">
	<li>
		<span>总数:{{paginator.count}}</span>
	</li>
	{%for i in page_obj.paginator.num_pages|get_range%}{%with iplusone=i|add:"1"%}
	{%ifequal iplusone page_obj.number %}

	<li class='active'>
		<a href="#">{{iplusone}}<span class="sr-only">(current)</span></a>
	</li>
	{%else%}
	<li>
		<a href="{% append_to_get page=iplusone %}">{{iplusone}}</a>
	</li>
	{%endifequal%}
{%endwith%}
	{%endfor%}
</ul>
{%endif%}
